<!doctype html>
<html lang="en" ng-app="1d.ui">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>1D</title>
    <link
        href="lib/bootstrap.min.css"
        rel="stylesheet">
        <style type="text/css">
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}
</style>    
</head>

<body ng-cloak class="ng-cloak">
<div ng-controller="LoginCtrl as ctrl" class="container">
    <ul class="nav nav-pills" role="tablist">
        <li ng-class="{active:nav.tab('home')}"><a href="#/">home</a></li>
        <li ng-class="{active:nav.tab('navigation')}"><a href="#/login">login</a></li>
        <li ng-show="authenticated"><a href="" ng-click="ctrl.logout()">logout</a></li>
    </ul>
</div>
<div ng-view></div>

<script src="lib/jquery.js"></script>
<script src="lib/angular.js"></script>
<script src="lib/ui-bootstrap.js"></script>
<script src="lib/angular-route.js"></script> 
<script src="app.js"></script>
<script src="login/login.js"></script>
<script src="home/home.js"></script>
</body>
</html>                     